:root{
    --cxsearch-green: #1db954;
    --cxsearch-green-bright: #1ed760;
    --main-text: #b3b3b3; 
    --player-height: 90px;
    --side-bar-margin: 24px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    vertical-align: middle;
}

::-webkit-scrollbar {
    width: 13px;
    z-index: 0;
}

/* Track */
::-webkit-scrollbar-track {
    padding: 1px;
    background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5a5a5a; 
    width: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #b3b3b3; 
}

body{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: .015em;
    color: var(--main-text);
    text-transform: none;
    font-family: 'Rubik', 'Poppins','Nunito','Open Sans','Roboto', 'Helvetica Neue',Helvetica,Arial,'Hiragino Kaku Gothic Pro','Meiryo','MS Gothic',sans-serif
}

.App{
    height: 100vh;
    width: 100vw;
    display: relative;
    display: grid;
    
    overflow: hidden;
}

.loading{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #040404;
}

.sidebar{
    background: #fff;
    width: 232px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    user-select: none;
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.3);
}


.logo-link{
    text-decoration: none;
    color: #040404;
}

.logo{
    padding-left: var(--side-bar-margin);
    margin-bottom: 18px;
}

.cxsearch-logo{
    width: 131px;
    height: 40px;
}

.footer{
    min-width: 768px;
    background: #282828;
    border-top: 1px solid #000;
    grid-column: 1/-1;
    position:sticky;
    z-index: 4;
}

.container{
    width: calc(100% + 12px);
    margin-top: 10px;
}

.SearchContainer{
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.SearchBar{
    position: relative;
    flex: 0 1 500px;
    color: #121212;
    margin-left: 15px;
    border: 1px solid rgba(0,0,0,.1);
    /*box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);*/
}
.SearchBar .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding: 2px 9px;
}

.SearchInput{
    color: #000;
    padding: 6px 48px;
    height: 40px;
    width: 100%;
    border: 0;
    border-radius: 0px;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
}

.SearchAutocomplete{
    flex: 0 1 364px;
    position: absolute;
    background-color: #fff;    
    top: 40px;
    width: 100%;
    cursor: pointer;
    box-shadow: 2px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.SearchHint {
    list-style-type: none;
    background-color: #fff;
    color: #000;
    padding: 8px 0 8px 48px;
    font-size: 18px;
}

.SearchHint:hover {
    background-color: #f4f8ff;
}

.progress-wrapper{
    height: 12px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}


.progress-bar{
    background-color: #535353;
    border-radius: 2px;
    display: flex;
    height: 4px;
    width: 100%;
    overflow: hidden;
}


.progress{
    background-color: #b3b3b3;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    transform: translateX(-100%);
}

.progress.engage{
    background-color: var(--cxsearch-green);
}

.progress-slider{
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    z-index: 100;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    opacity: 0;
    position: absolute;
    left: 0
}

.progress-slider.engage{
    opacity: 1;
}

.ArticleCat {
    font-size: 0.700rem;
    font-weight: 600;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 8px;
    opacity: 0.7;
    text-transform: uppercase;
}
.ArticleTitle{
    margin-top: 2px;
    font-size: 0.800rem;    
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    height: 35px;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
}
.ArticleDesc {
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 0.870rem;
    margin-top: 15px;   
    height: 35px;
    overflow: hidden;    
    text-overflow: ellipsis;
}
.ArticlePrice {    
    font-weight: bold;
    margin-left: 3%;
}


.moreButton{
    width: 32px;
    height: 20px;
    background: transparent;
    border: 0;
    color: hsla(0,0%,100%,.7);
    font-size: 16px;
}

.moreButton:hover{
    color:#fff;
}

.product{
    position: relative;
    perspective: 800px;
    width:100%; /*306px;*/
    height:450px;
    transform-style: preserve-3d;
    transition: transform 5s;
	float:left;
	/* margin-bottom: 30px; */
	/*margin-right: 23px;*/
	/*-webkit-transition: width 500ms ease-in-out;
	   -moz-transition: width 500ms ease-in-out;
		-ms-transition: width 500ms ease-in-out;
		 -o-transition: width 500ms ease-in-out;
 		    transition: width 500ms ease-in-out;*/
}
.product.large {
	width:50%; /*639px;*/
	height: 170px; /*250px;*/
	margin-bottom:25px;
	overflow:hidden;
	margin-top: 10px;
	/*-webkit-transition: all 500ms ease-in-out;
	   -moz-transition: all 500ms ease-in-out;
		-ms-transition: all 500ms ease-in-out;
		 -o-transition: all 500ms ease-in-out;
 		    transition: all 500ms ease-in-out;*/
}
.floating-image-large{
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

.info-large{
	  display:block;
	  position: absolute;
	  top: 0;
	  left: 0px;
	  /*padding: 42px;*/
	  width: 100%; /*245px;*/
	  height: 100%; /*395px;*/
	 /* -webkit-transition: all 500ms ease-out;
	   -moz-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;
		 -o-transition: all 300ms ease-out;
 		    transition: all 300ms ease-out;*/
}
.large .info-large{
	left: 30%;
    width: calc(100% - 30%);
	padding: 10px 10px;
	/*-webkit-transition: all 300ms ease-out;
	   -moz-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;
		 -o-transition: all 300ms ease-out;
 		    transition: all 300ms ease-out;*/
}

.info-large h4{
	color:#393c45;
	font-size:15px;
	font-weight:700;
	margin-top:10px;
	text-align: left;	
	display: block;
	display: -webkit-box;
	max-width: 100%;
	height: 36px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 18px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.add-cart-large{				
    position:relative;
    left:0px;
    bottom: 10px;
    right: 24px; 
    font-size: 15px;	  
    text-transform: uppercase;
    font-weight: 700;	
    width: 100%;
    display: inline-flex;
    /*margin-top: 38px;*/
    -webkit-transition: all 200ms ease-out;
     -moz-transition: all 200ms ease-out;
      -ms-transition: all 200ms ease-out;
       -o-transition: all 200ms ease-out;
           transition: all 200ms ease-out;
          
}

.price-big {
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #D33243;
}
.price-big span{
	color:#999;
	font-weight:400;
	text-decoration:line-through;
}



.info-large .desc {
  clear: both;
  /* padding: 6px 0; */
  /* width: 100%; */
  /* text-align: left; */
  /* font-size: 13px; */
  color: #999;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 32px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 16px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 8px 0px;
  text-align: left;
}
/*
.add-cart-large:hover{
  color: #D33243;
  border-color:#D33243;
  -webkit-transition: all 200ms ease-out;
     -moz-transition: all 200ms ease-out;
      -ms-transition: all 200ms ease-out;
       -o-transition: all 200ms ease-out;
           transition: all 200ms ease-out;
          cursor:pointer;
}*/
.info-large h3{
  letter-spacing: 1px;
  color: #262626;
  text-transform: uppercase;
  font-size: 14px;
  clear:left;
  margin-top:20px;
  font-weight: 700;
  margin-bottom:3px;
}

.product-front img { 
	width:100%; 
	-moz-user-select: none;
	-webkit-user-select: none;
user-select: none; 
}
.product-front, .product-back{
	width:100%;/*315px;*/
	height:480px;
	background:#fff;
	position:absolute;
	/*left:-5px;
	top:-5px;
	*/
	-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}
.product-back{
	display:none;
	transform: rotateY( 180deg );
}
.make3D.animate .product-back,
.make3D.animate .product-front,
div.large .product-back{
	top:0px;
	left:0px;
	/*-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; */
}
.make3D{
	width:100%; /*305px;*/
	height:462px;
	position:absolute;    
	top:10px;
	/*left:10px;*/
	overflow:hidden;
    /*transform-style: preserve-3d;
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out;*/
}
.make3D.animate{
	/*top:5px;
	left:5px;
	width:315px;*/
	height:454px;
	box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0.15);
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out; 
}

.large .make3D{
	width:100%;
	height:100%;
	position:absolute;    
	top:10px;
	/*left:10px;*/
	overflow:hidden;
    /*transform-style: preserve-3d;
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out;*/
}
.make3D .buttons {
	position: absolute;
    bottom: 20px;
    width: 100%;
	opacity:1;
	padding: 16px 20px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;
}
.make3D .buttons button, .info-large .buttons button {
    border-color: none;
    border-width: 0px;
    cursor: pointer;
}
.make3D .buttons button:active, .make3D .buttons button:focus, .info-large .buttons button:active, .info-large .buttons button:focus {
    border-color: none;
    border-width: 0px;
    outline: none;
}
 .info-large .buttons {
	position:absolute;
    width: 100%;
	opacity:1;
	bottom: 0px;
	padding: 0px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;
}


.make3D.animate .buttons  {
	position:absolute;
    bottom: 30px;
    width: 100%;
	opacity:1;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}

.make3D .buttons .add-to-cart {
	float:right;
}

.info-large.animate .buttons  {
	position:absolute;
    bottom: 10px;
    width: 100%;
	opacity:1;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}


.product .add_to_cart{	
	/*position:absolute;*/
	float: right;
    right: 14px;		
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;
}

.product .make3D.animate .add_to_cart{	
	transform: translateZ(0px);
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;		
}

.info-large .add_to_cart{	
	/*position:absolute;*/
	display:flex;
	float:left;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;
}

.info-large.animate .add_to_cart  {
	transform: translateZ(0px);
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;			
}
div.make3D.flip-10{
	 -webkit-transform: rotateY( -10deg );
         -moz-transform: rotateY( -10deg );
           -o-transform: rotateY( -10deg );
              transform: rotateY( -10deg );
			   transition:  50ms ease-out; 			
}
div.make3D.flip90{
	 -webkit-transform: rotateY( 90deg );
         -moz-transform: rotateY( 90deg );
           -o-transform: rotateY( 90deg );
              transform: rotateY( 90deg );
			   transition:  100ms ease-in; 			
}
div.make3D.flip190{
	 -webkit-transform: rotateY( 190deg );
         -moz-transform: rotateY( 190deg );
           -o-transform: rotateY( 190deg );
              transform: rotateY( 190deg );
			   transition:  100ms ease-out; 			
}
div.make3D.flip180{
	 -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
			   transition:  150ms ease-out; 			
}
.make3D.animate{
	/*top:5px;
	left:5px;
	width:315px;*/
	height:454px;
	box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0.15);
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out; 
}
div.large .make3D{
	/*top:0;
	left:0;*/
	width:30%;
	height:150px; /*480px;*/
	/*-webkit-transition:  300ms ease-out; 
       -moz-transition:  300ms ease-out; 
         -o-transition:  300ms ease-out; 
            transition:  300ms ease-out; */
}
.large div.make3D{box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0);}
.large div.flip-back{display:none;}
.stats-container{
	background:#fff;	
	position:absolute;
	top:270px;
	left:0;
	width: 100%; /*252px;*/
	/*height: 300px;*/
	padding: 16px 20px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;
}
.make3D.animate .stats-container{
	top:265px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}

.stats-container .product_name{
	/*text-align:left;
	overflow-wrap: break-word;
	padding: 10px 0;
	line-height:24px;*/
	color: #111;
    font-size: 14px;
    font-weight: bold;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 36px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
	text-align:left;
}
.stats-container p{
	font-size:13px;
	color:#b1b1b3;		
	display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 32px;
    margin: 0 auto;
    line-height: 16px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* padding: 10px 0 10px 0; */
    margin: 10px 0px;
}
.stats-container .product_price{	
	color:#D33243;
	font-size:14px;
	font-weight:bold;
}
.product .image_overlay{
	position:absolute;
	top:0;
	left:0; 
	width:100%;
	height:100%;
	background:#f8f4f4;
	opacity:0;
}

.product .make3D.animate .image_overlay{
	opacity:0.7;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.product .view_gallery {	
	display:flex;
    float: left;
	font-size: 11px;
    border-radius: 3px;
    background: #D33243; /*#D33243;*/
	margin-right:10px;
    color: #ffffff;
	text-align: center;
    text-transform: uppercase;
	line-height:34px;
	padding:0px 10px;
	cursor:pointer;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.product.large .quick-view {
    color: #111;
    font-size: 14px;
    font-weight: bold;
}
.product.large:hover{	
    box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0.15);
}

.product .info-large .quick-view-popup {	
	display:flex;
    float: left;
	font-size: 11px;
    border-radius: 3px;
    background: #D33243;
	margin-right:10px;
    color: #ffffff;
	text-align: center;
    text-transform: uppercase;
	line-height:34px;
	padding:0px 10px;
	cursor:pointer;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
}
.info-large.animate .buttons  {
	position:absolute;
    bottom: 10px;
    width: 100%;
	opacity:1;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}

div.shadow{
	width:335px;height:520px;
	opacity:0;
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	display:none;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.1),rgba(0,0,0,0.2));
    background: -o-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.2)); 
}
.product.mobile .info-large .quick-view-popup {	
	line-height:20px !important;
} 

.product.mobile .info-large .add-to-cart {
	float:right;		
} 

.product .info-large .quick-view-popup {
	left: 0px;
}

.product .view_gallery:hover{	
	background-color: #f03a4e; /*#838383;*/
	/*color:#D33243;
	cursor:pointer;*/

}

.product .info-large .quick-view-popup:hover{	
	background-color: #f03a4e;

}

.product .info-large.animate .quick-view-popup {	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}

.product .make3D.animate .view_gallery{	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}

.product .button .add2cart {
	position: absolute;
    left: 0px;
    width: 100%;
    height: 34px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 300ms;
	/*background:#D33243;*/
	border-radius: 3px;
}

.info-large .button .add2cart  {
	position: absolute;
    left: 0px;
    width: 100%;
    height: 34px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 300ms;
}

.product .button .add2cart > div {  
	position: absolute;
    display: block;
    border-radius: 3px;
    line-height: 34px;
    width: 100%;
}

.info-large .button .add2cart > div {  
	position: absolute;
    display: block;
    border-radius: 3px;
    line-height: 34px;
    width: 100%;
}


.product .button .add2cart > .add {
	font-size: 13px;
	font-weight:normal;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 3px;
    background: #D33243;
    color: #ffffff;
	text-align: center;
    text-transform: uppercase;
	/*padding:7px;*/
    transition: background 150ms ease-out;
    cursor: pointer;
  	/*background: #fff;*/
	transform: rotateY(0deg) translateZ(17px);
    transition: background 150ms ease-out;    
}

.info-large .button .add2cart > .add {
	font-size: 13px;
	font-weight:normal;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 3px;
    background: #D33243;
    color: #ffffff;
	text-align: center;
    text-transform: uppercase;
	/*padding:7px;*/
    transition: background 150ms ease-out;
    cursor: pointer;
  	/*background: #fff;*/
	transform: rotateY(0deg) translateZ(17px);
    transition: background 150ms ease-out; 
	line-height: 34px;   
}

.product .button .add2cart > .add:hover {
	font-size: 13px;
	line-height: 34px;
	border-radius: 3px;	
  	background: #f1f1f1 !important;
	color:#D33243;
}

.product .button .add2cart > .added {
	margin: 4px 0 0 0px;
	font-size: 13px;
    border-radius: 3px;
    background: #D33243;
    color: #ffffff;
	line-height:34px;
	text-align: center;
	font-weight:normal;
    text-transform: uppercase;
	border-radius: 3px;
  	transform: rotateX(90deg) translateZ(17px);
}

.info-large .button .add2cart > .added {
	margin: 4px 0 0 0px;
	font-size: 13px;
    border-radius: 3px;
    background: #D33243;
	font-weight:normal;
    color: #ffffff;
	line-height:34px;
	text-align: center;
    text-transform: uppercase;
  	transform: rotateX(90deg) translateZ(17px);
}


.product .button .add2cart.active {
	background:#D33243;
 	animation-name: rotate;
 	animation-duration: 1s;
}

.add-to-cart {
    height: 34px;
    border-radius: 3px;
    position: relative;
    overflow: hidden; 
    width: 125px; /*calc(50% - 23px);*/
    font-size: 11px;
    font-family: 'Ubuntu', sans-serif;  
    font-weight:normal;
    text-transform: uppercase;
    line-height: 34px;
    color: #ffffff;
    background-color: #D33243; /*#D33243;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .add-to-cart:hover {
    background-color: #f03a4e; /*#838383;*/
  }
  .add-to-cart em {
    /* this is the button text message */
    font-style:normal;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .add-to-cart svg, .add-to-cart label {
    /* this is the check icon */  
    position: absolute;
    left:20%;
    top: 50%;
    width: 100%;
    /* move the icon on the right - outside the button */
    -webkit-transform: translateX(50%) translateY(-50%);
    -moz-transform: translateX(50%) translateY(-50%);
    -ms-transform: translateX(50%) translateY(-50%);
    -o-transform: translateX(50%) translateY(-50%);
    transform: translateX(50%) translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  
  .add-to-cart label {
      left: 50%;
  }
  
  .add-to-cart.is-added {
      background-color: #D33243; /*#838383;*/
  }
  
  .add-to-cart.is-added em {
    /* product added to the cart - hide text message on the left with no transition*/
    font-style:normal;
    color: transparent;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0s;
    -moz-transition: -moz-transform 0s;
    transition: transform 0s;  
  }
  .add-to-cart.is-added svg, .add-to-cart.is-added label {  
    /* product added to the cart - move the svg back inside the button */
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: -webkit-transform 0s;
    -moz-transition: -moz-transform 0s;
    transition: transform 0s;  
  }


@media (min-width: 1024px){
    .bannerTitle{
        font-size: 72px;
        line-height: 72px;
    }
}

@media (min-width: 1280px){
    .bannerImgDiv{
        width: 232px;
        height: 232px;
    }

    .bannerTitle{
        font-size: 96px;
        line-height: 96px;
    }

    .svgSizing > svg{
        width: 64px;
        height: 64px;
    }
}

@media (min-width: 1710px){
    .bannerTitleXL{
        font-size: 72px;
        line-height: 72px;
    }
}

@media (max-width: 1023px){
    .mediaNone{
        display: none;
    }
    
    .header-bar{
        padding: 16px;
    }
}

@media (max-width: 1279px){
    .mediaNoneXL{
        display: none;
    }
}